<html>
    <head>
        <title>Логин</title>
        <link rel="stylesheet" href='/css/auth/login.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="icon">
                <img src="/img/site/logo.png" width="100%">
            </div>
            <div class="login">
                <div><h2>Вход в систему</h2></div>
                <div>
                    <form action="/auth/loginaction" name="" method="POST" id="login-form" >
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <label class="label">
                            <span><b>Логин или Email</b></span>
                            <input name = "login"type="text" autocomplete="false">
                            <div></div>
                        </label>
                        <label class="label">
                            <span><b>Пароль</b></span>
                            <input name = "password" type="password" autocomplete="false">
                            <div></div>
                        </label>
                        <label class="label" id="checkbox-cont">
                            <input name = "rememberME" type='checkbox'>
                            <span>Запомнить меня</span>
                        </label>
                        <label class="label">
                            <input id="login-but" type='submit' value="Войти">
                        </label>
                        <label class="label">
                            <a href="/auth/sendemail">Забыли пароль?</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
