<html>
    <head>
        <title>Логин</title>
        <link rel="stylesheet" href='/css/auth/login.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="icon">
                <img src="/img/site/logo.png" width="100%">
            </div>
            <div class="login">
                <div><h2>Создайте новый пароль</h2></div>
                <div>
                    <form action="/auth/savepassword" name="" method="POST" id="login-form">
                        <label class="label">
                            <span>Новый пароль</span>
                            <input name = "newPassword" type="password" autocomplete="off">
                            <div></div>
                        </label>
                        <label class="label">
                            <span>Повторите пароль</span>
                            <input name = "repeatNewPassword" type="password" autocomplete="off">
                            <div></div>
                        </label>
                        <label  class="label">
                            <input id="login-but" type='submit' value="Отправить">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
