<form action="/auth/singup-post" name="" method="POST" id="login-form">
    <label>
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    </label>
    <label class="label">
        <span>Логин</span>
        <input name="login" type="text" autocomplete="false">
        <div></div>
    </label>
    <label class="label">
        <span>Пароль</span>
        <input name="password" type="password">
        <div></div>
    </label>
    <label class="label">
        <span>Пароль еще раз</span>
        <input name="passwordSecond" type="password">
        <div></div>
    </label>
    <label class="label">
        <span>E-mail</span>
        <input name="email" type="email" autocomplete="false">
        <div></div>
    </label>
    <label>
        <span>Подписаться на рассылку</span>
        <input type="checkbox" name="subNews" value="true"></p>
    </label>
    <label class="label">
        <input id="login-but" type='submit' value="Войти">
    </label>


    <label class="error label" for="">
        <span>{{error}}</span>
    </label>
</form>
