<div id="menu" class="menu">
		<div class="menu-header">
			<div class="menu-text">
				<span>МЕНЮ</span>
			</div>
			<div class="menu-user">
				<div class="user-info">
					<div class="user-photo">
						<img class="role-user" src="/img/user/{{user.img}}" width="100%">
					</div>
					<div class="user-name">
						<div class="">
							<span id="user-first-name">{{{user.login}}}</span>
						</div>
					</div>
				</div>
				<div class="user-dept">
					<span>{{user.email}}</span>
                    <a id="logout-a" href="/auth/logout">
						<img src="/img/menu/logout_1.svg" alt="" width="20px">
					</a>
				</div>
			</div>
		</div>
		<div class="menu-body">
			<a href="/" id="menu-option">
				<span>Главная страница</span>
			</a>
			<a href="/tasks/" id="menu-option">
				<span>Тренажеры</span>
			</a>
			<a href="/posts/" id="menu-option">
				<span>Теория</span>
			</a>
            <a href="/news/" id="menu-option">
				<span>Новости</span>
			</a>
		</div>
	</div>
