<div id="menu" class="menu">
		<div class="menu-header">
			<div class="menu-text">
				<span>МЕНЮ</span>
			</div>
			<div class="menu-user">
				<div class="user-info">
					<div class="user-photo">
						<img class="role-user" src="/img/user/{{user.img}}" width="100%">
					</div>
					<div class="user-name">
						<span id="user-first-name">{{{user.login}}}</span>
						<span id="user-last-name">{{{user.email}}}</span>
					</div>
				</div>
				<div class="user-dept">
					<span>{{user.sub_title}}</span>
                    <a id="logout-a" href="/auth/logout">
						<img src="/img/menu/logout_1.svg" alt="" width="20px">
					</a>
				</div>
			</div>
		</div>
		<div class="menu-body">
			<a href="/" id="menu-option">
				<span>Главная страница</span>
			</a>
			<a href="/courses/" id="menu-option">
				<span>Все курсы</span>
			</a>
			<a href="/result/" id="menu-option">
				<span>Результаты тестирований</span>
			</a>
            <a href="/term" id="menu-option">
				<span>Термины</span>
			</a>
		</div>
		<div class="chat-wrap">
			<a href="/chat/" id="menu-chat">
				<span>Чат с администрацией</span>
			</a>
		</div>
	</div>
