<h3>Пользователь</h3>
<div class="">
    <span>Логин:</span>
    <b>{{user.login}}</b>
</div>
<div class="">
    <span>Email:</span>
    <b>{{user.email}}</b>
</div>
<div class="">
    <span>isAdmin:</span>
    <b>{{user.isAdmin}}</b>
</div>
