<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Заголовок</title>
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/layout.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
    </head>
    <body>
        <a href="#" class="menu-bth">
          <span></span>
        </a>
        {{> menu}}
        <div id="main-wrap" class="main-wrap">
            <div class="layout-wrap">
                {{{body}}}
            </div>
            <div class="footer">

    		</div>
        </div>
    </body>
</html>
