<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Заголовок</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/tasks/">Тренажеры</a>
                </li>
                <li>
                    <a href="/posts/">Теория</a>
                </li>
                <li>
                    <a href="/news/">Новости</a>
                </li>
            </ul>
        </nav>
        {{{body}}}
    </body>
</html>
