.menu
{
	left: -800px;
	min-width: 300px;
	z-index: 5000;
	height: 100vh;
	background: #DEDEDE;
	position: fixed;
	transition: left .4s;
	min-height: 400px;
	box-shadow: 3px 2px 10px -5px rgba(0,0,0,0.75);
}

.menu-open
{
	left: 0;
	float: left;
	display: block;
}

.menu-header
{
	background: #F6CE45;
	color: white;
}

.menu-text
{
	position: relative;
	top: 5px;
	right: -240px;
	font-weight: bold;
}

.menu-user
{
	display: flex;
	flex-flow: column nowrap;
	margin-top: 35px;
	margin-left: 15px;
}

.user-info
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}

.user-photo
{
	width: 46px;
	height: 46px;
}

.user-photo > img
{
	border-radius: 23px;
	border-color: white;
	background: white;
}

.user-name > span:first-child
{
	white-space: nowrap;
	font-size: 18px;
	margin: 0px 2px 0px 10px;
}

.user-dept
{
	font-size: 13px;
	padding-bottom: 20px;
	margin-top: 5px;
}

.menu-body
{
	display: flex;
	flex-flow: column nowrap;
}

.menu-body > a
{
	text-decoration: none;
	color: black;
	padding: 8px 0px;
	padding-left: 15px;
	font-size: 16px;

}

.menu-body > a:hover{
	transition: 0.3s;
	background: rgba(200, 200, 200, 1);
}

.menu-body > #menu-option:after
{
	content: "";
	display: block;
	position: relative;
	bottom: -9px;
	width: 94%;
	height: 2px;
	background: #E7E7E7;
}

.chat-wrap{
	width: 100%;
	position: absolute;
	bottom: 15px;
	display: flex;
	justify-content: center;
}

#menu-chat
{
	background: #F6CE45;
	text-align: center;
	padding: 5px 10px;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

#logout-a{
	float: right;
	margin-right: 10px;
}

@media screen and (max-width: 800px)
{
	.wrapper
	{
		max-height: 100vh;
	}

	.container
	{
		display: none;
	}

	.logo
	{
		display: none;
	}

	.menu
	{
		min-width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
	}

	.menu-text
	{
		display: none;
	}

	.menu-close
	{
		top: 15px;
	}

	.menu-user
	{
		margin-top: 0px;
		padding-top: 60px;
	}

	.menu-body > a
	{
		padding: 8px 0px;
		text-align: center;
		font-size: 20px;
	}

	.menu-body > #menu-option:after
	{
		left: 40px;
	}

}
