<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seacher</title>
</head>
<body>
 <form method="post" action="/search/find">
     <input type="hidden" name="_csrf" value="{{_csrfToken}}">
     <input type = "search" name = "searchindData">
     <input type="submit">
 </form>
</body>
</html>