<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тег FORM</title>
</head>
<body>

<form action = "">
    <p>Сложность</p>
    {{#each rows}}
    <p> <input type="radio" name="{{rows.id}}" value="a1">{{this.title}}<Br>
    {{/each}}
    <p> <input type="submit"></p>
</form>

</body>
</html>