<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/errors/404.css">
</head>
<body>
	<div class="wrapper">
		<span>
			<span>
				404
			</span>
			<span>
				{{#if error}}
				{{error}}
				{{else}}
				Кажется, страница не найдена
				{{/if}}
			</span>
		</span>
		<span>
			Никого не вините, просто вернитесь на главную страницу
		</span>
		<a id="goback" href="/">
			Перейти на главную
		</a>
	</div>
</body>
</html>
